<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionstrings>
    <addData name="POP" ConnectionString="Data Source=.\MSSQLLocalDB;Initial Catalog=POP;Integrated Security=True"></addData>
  </connectionstrings>
</configuration>